<?xml version="1.0"?>
<config>
  <modules>
    <Todopago_Modulodepago2>
      <version>1.3.0</version>
    </Todopago_Modulodepago2>
  </modules>
  <global>
    <helpers>
      <modulodepago2>
        <class>Todopago_Modulodepago2_Helper</class>
      </modulodepago2>
    </helpers>
    <models>
      <modulodepago2>
        <class>Todopago_Modulodepago2_Model</class>
        <resourceModel>modulodepago2_mysql4</resourceModel>
      </modulodepago2>
      <modulodepago2_mysql4>
        <class>Todopago_Modulodepago2_Model_Mysql4</class>
        <entities>
          <todopagotable>
            <table>todopagotable</table>
          </todopagotable>
        </entities>
      </modulodepago2_mysql4>
    </models>
    <blocks>
      <modulodepago2>
        <class>Todopago_Modulodepago2_Block</class>
      </modulodepago2>
      <checkout>
        <rewrite>
          <agreements>Todopago_Modulodepago2_Block_Checkout_Agreements</agreements>
        </rewrite>
      </checkout>
    </blocks>
    <resources>
      <categoryattribute1425228037_setup>
        <setup>
          <module>Todopago_Modulodepago2</module>
          <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </categoryattribute1425228037_setup>
      <categoryattribute1425228037_write>
        <connection>
          <use>core_write</use>
        </connection>
      </categoryattribute1425228037_write>
      <categoryattribute1425228037_read>
        <connection>
          <use>core_read</use>
        </connection>
      </categoryattribute1425228037_read>
      <categoryattribute1416425150_setup>
        <setup>
          <module>Todopago_Modulodepago2</module>
          <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </categoryattribute1416425150_setup>
      <categoryattribute1416425150_write>
        <connection>
          <use>core_write</use>
        </connection>
      </categoryattribute1416425150_write>
      <categoryattribute1416425150_read>
        <connection>
          <use>core_read</use>
        </connection>
      </categoryattribute1416425150_read>
      <salesattribute1416425150_setup>
        <setup>
          <module>Todopago_Modulodepago2</module>
          <class>Mage_Sales_Model_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </salesattribute1416425150_setup>
      <salesattribute1416425150_write>
        <connection>
          <use>core_write</use>
        </connection>
      </salesattribute1416425150_write>
      <salesattribute1416425150_read>
        <connection>
          <use>core_read</use>
        </connection>
      </salesattribute1416425150_read>
    </resources>
  </global>
<admin>
	<routers>
		<adminhtml>
			<args>
				<modules>
					<custom_module before="Mage_Adminhtml">Todopago_Modulodepago2_Adminhtml</custom_module>
				</modules>
			</args>
		</adminhtml>
	</routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <modulodepago2>
          <file>modulodepago2.xml</file>
        </modulodepago2>
      </updates>
    </layout>
  </adminhtml>
  <default>
    <payment>
      <modulodepago2>
        <model>modulodepago2/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Todo Pago</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </modulodepago2>
    </payment>
  </default>
  <frontend>
    <routers>
      <modulodepago2>
        <use>standard</use>
        <args>
          <module>Todopago_Modulodepago2</module>
          <frontName>modulodepago2</frontName>
        </args>
      </modulodepago2>
    </routers>
    <layout>
      <updates>
        <modulodepago2>
          <file>modulodepago2.xml</file>
        </modulodepago2>
      </updates>
    </layout>
  </frontend>
</config> 